<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="ericzhang">
  <title>ericzhang | Vue</title>
</head>
<body>
  <!-- html start. -->
  <div id="app">
    <label v-for="item in hobbies" :for="item">
       <input type="checkbox" :value="item" :id="item" v-model="hobbie">
       {{ item }}
    </label>
  </div>
  <!-- html end. -->

  <!-- scripts start. -->
  <script src="/Users/mac/venv/github/Adavue/js/vue.js"></script>
  <script>
    //创建Vue实例, 得到ViewModel.
    const app = new Vue({
    el: "#app",
    data: {
      hobbie: [],
      hobbies: ["A", "B", "C"]
    },
    methods: {}
    });
  </script>
  <!-- scripts end. -->
</body>
</html>